/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

form {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}
.user-input {
  border-radius: 4px;
  border: 1px solid #808080;
  padding-block: 8px;
  padding-left: 16px;
  color: #808080;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.64px;
  line-height: 24px;
  font-size: 16px;
  width: 272px;
  height: 40px;
  outline: none;
}
.user-input:hover {
  border: 1px solid #000;
}
.user-input:focus {
  border: 1px solid #4e75ff;
}
.submit-button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  font-weight: 500;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.64px;
  line-height: 24px;
  font-size: 16px;

  width: 91px;
  height: 40px;
  border: none;
}
.submit-button:hover {
  background-color: #6c8cff;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 24px;
  list-style: none;
}
.gallery__item {
  border: 1px solid #808080;
}
.gallery__link {
  display: flex;
  flex-direction: column;
}
.gallery__img {
  width: 360px;
  height: 160px;
  margin-bottom: 4px;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  width: 360px;
  height: 48px;
}
.grid p,
.grid span {
  font-size: 12px;
  color: #2e2f42;
  font-family: Montserrat;
  letter-spacing: 0.48px;
}
.grid p {
  line-height: 16px;
  font-weight: 600;
}
.grid span {
  line-height: 24px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: #ff3d00;
  width: 3px;
  height: 24px;
  transform: translateX(-50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}